<%- include("partials/header") -%>
<form class="compose-form" action="/compose" method="POST">
  <label for="titleInput">Title</label><br>
  <input type="text" id="titleInput" name="title"><br>
  <label for="postInput">Post</label><br>
  <textarea id="postInput" name="post" cols="30" rows="10"></textarea>
  <button>Publish</button>
</form>
<%- include("partials/footer") -%>